{% extends "_base.html" %}
{% block title %}Book Form{% endblock title %}
{% block content %}
<div class="container pt-10">
    <div class="row">
        <div class="col border">Title</div>
        <div class="col border">{{object.title}}</div>
    </div>
    <div class="row">
        <div class="col border">Author</div>
        <div class="col border">{{object.author}}</div>
    </div>
    <div class="row">
        <div class="col border">Price</div>
        <div class="col border">{{object.price}}</div>
    </div>
</div>
{% endblock content %}
